@import './fonts.css';

:root {
  --white-color: #ffffff;
  --brand-blue-color: #c0dcec;
  --brand-yellow-color: #fff6bf;
  --gray-color: #c1c1c1;
  --sections-padding: 3.5rem;
  --padding-vertical-big-screens: 3.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Museo Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--brand-blue-color);
}

h1 {
  font-size: clamp(3rem, 6vw, 6.5rem);
  line-height: clamp(3.5rem, 7vw, 7rem);
  font-weight: 700;
  margin-bottom: clamp(3rem, 7vw, 7.5rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 700;
  margin-bottom: clamp(2rem, 5vw, 5.5rem);
}

h3 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  font-weight: 700;
  margin-bottom: clamp(1rem, 2vw, 2rem);
}

p {
  font-size: clamp(1.5rem, 2vw, 1.9rem);
  font-weight: 400;
  width: fit-content;
  text-align: justify;
  hyphens: auto;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

@media (min-width: 1600px) {
  :root {
    --sections-padding: 15rem;
  }
}
@media (min-width: 1800px) {
  :root {
    --sections-padding: 25rem;
  }
}
@media (min-width: 2200px) {
  :root {
    --sections-padding: 40rem;
  }
}
@media (min-width: 3000px) {
  :root {
    --sections-padding: 75rem;
  }
}

/* @media (min-width: 1600px) {
  h1 {
    font-size: clamp(3.5rem, 5vw, 7rem);
    line-height: clamp(4rem, 6vw, 8rem);
    margin-bottom: clamp(3.5rem, 6vw, 8rem);
  }

  h2 {
    font-size: clamp(3rem, 4.5vw, 6rem);
    margin-bottom: clamp(2.5rem, 4.5vw, 6rem);
  }

  h3 {
    font-size: clamp(2.5rem, 3.2vw, 4rem);
    margin-bottom: clamp(1.5rem, 2.5vw, 3rem);
  }

  p {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }
}
@media (min-width: 1800px) {
  h1 {
    font-size: clamp(4rem, 6vw, 8rem);
    line-height: clamp(4.5rem, 7vw, 9rem);
    margin-bottom: clamp(4rem, 7vw, 9rem);
  }

  h2 {
    font-size: clamp(3.5rem, 5vw, 7rem);
    margin-bottom: clamp(3rem, 5vw, 7rem);
  }

  h3 {
    font-size: clamp(3rem, 4vw, 5rem);
    margin-bottom: clamp(2rem, 3vw, 4rem);
  }

  p {
    font-size: clamp(1.8rem, 3vw, 2.2rem);
  }
}
@media (min-width: 2200px) {
  h1 {
    font-size: clamp(4rem, 7vw, 9rem);
    line-height: clamp(4.5rem, 8vw, 10rem);
    margin-bottom: clamp(4rem, 8vw, 10rem);
  }

  h2 {
    font-size: clamp(3.5rem, 6vw, 7rem);
    margin-bottom: clamp(3rem, 6vw, 7.5rem);
  }

  h3 {
    font-size: clamp(3rem, 4.5vw, 5rem);
    margin-bottom: clamp(2rem, 3vw, 4rem);
  }

  p {
    font-size: clamp(1.8rem, 3vw, 2.5rem);
  }
} */

/* (1280px–1439px) */
@media (max-width: 1439px) {
}

/* (1024px–1279px) */
@media (max-width: 1279px) {
  h1 {
    font-size: clamp(2.5rem, 4.2vw, 5.5rem);
    line-height: clamp(3rem, 6vw, 6.5rem);
    font-weight: 700;
    margin-bottom: clamp(2.5rem, 6vw, 6rem);
  }

  h2 {
    font-size: clamp(1.4rem, 4vw, 4.5rem);
    font-weight: 700;
    margin-bottom: clamp(1.8rem, 4.5vw, 5rem);
  }

  h3 {
    font-size: clamp(1.8rem, 3vw, 2.7rem);
    font-weight: 700;
    margin-bottom: clamp(0.8rem, 1.5vw, 1.8rem);
  }
  h1 {
    margin-bottom: 3rem;
  }
}

/* (480px–767px) */
@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}

/* (до 479px) */
@media (max-width: 479px) {
  h1 {
    font-size: clamp(2.9rem, 5vw, 8rem);
    line-height: clamp(3.5rem, 7vw, 10rem);
    margin-bottom: clamp(3rem, 7vw, 10rem);
  }

  h2 {
    font-size: clamp(2.2rem, 4.5vw, 7rem);
    margin-bottom: clamp(2.5rem, 5.5vw, 7.5rem);
  }

  h3 {
    font-size: clamp(2rem, 3.5vw, 5rem);
    margin-bottom: clamp(1.8rem, 2.5vw, 4rem);
  }
}
